/*
## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

*/

$color-pri:hsl(0, 0%, 100%);
$color-sec:hsl(212, 45%, 89%);
$color-ter:hsl(220, 15%, 55%);
$color-cua: hsl(218, 44%, 22%);
